<?xml version="1.0"?>


<robot name="myfirst">
  
  <link name="ground_frame">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </link>

  <link name="base_link">
    <visual>
    <origin xyz="0.0 0.0 0.3" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
  </link>

  <joint name="rev1" type="fixed">
    <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
    <parent link="ground_frame"/>
    <child link="base_link"/>
  </joint>
</robot>